version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    allow:
      dependency-type: 'direct'

  - package-ecosystem: 'npm'
    directory: '/web/client'
    schedule:
      interval: 'monthly'
    allow:
      dependency-type: 'direct'
    ignore:
      - dependency-name: "eslint"
      - dependency-name: "eslint-plugin-prettier"
      - dependency-name: "eslint-plugin-vue"
      - dependency-name: "sass"
      - dependency-name: "sass-loader"

