# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
#node_modules
web/client/node_modules
.idea
.eslintignore
.eslintrc.json
.github
.vscode
*.docker
k8s
config
tests
CHANGELOG.md
debugcluster.sh
README.md
LICENSE
.gitignore
docker-compose.yml
Dockerfile