<md-dialog aria-label="Edit Job"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/bower_components/material-design-icons/content/svg/production/ic_clear_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <input md-autofocus type="text" ng-model="job.name" placeholder="Name" required>
                </md-input-container>
                <md-input-container>
                    <input type="text" ng-model="job.schedule" placeholder="Schedule" required>
                </md-input-container>
                <md-input-container>
                    <input type="text" ng-model="job.queueName" placeholder="Queue" required>
                </md-input-container>
                <md-input-container>
                    <md-checkbox ng-model="job.enabled" aria-label="Enabled">Enabled</md-checkbox>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="text" ng-model="job.path" placeholder="Path" required>
                </md-input-container>
                <md-chips class="md-input-container" ng-model="job.args" placeholder="Enter an argument" secondary-placeholder="+Argument">
                </md-chips>
                <md-input-container>
                    <input type="text" ng-model="job.timeout" placeholder="Timeout">
                </md-input-container>
                <md-input-container>
                    <md-checkbox ng-model="job.mutex" aria-label="Mutex">Mutex</md-checkbox>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="job.description"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" type="button">
                Cancel
            </md-button>
            <md-button class="md-primary" type="submit" ng-click="save()" >
                {{OkTitle}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>