<div flex layout="row">
    <md-table-container>
        <table md-table>
            <thead md-head md-order="query.order" md-on-reorder="onReorder" class="md-head">
            <tr md-row>
                <!-- <th md-column md-order-by="_id"><span>Id</span></th> -->
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column><span>Schedule</span></th>
                <th md-column md-order-by="nodeSelector"><span>Node Selector</span></th>
                <th md-column md-order-by="lastRanAt">Last Ran</th>
                <th md-column md-order-by="lastStatus">Last Status</th>
                <th md-column layout="row" layout-align="end center"><md-button class="md-fab md-mini" aria-label="Add Job" ng-click="addJob()">
                    <md-icon md-svg-src="/public/assets/svg/ic_add_24px.svg"></md-icon></md-button></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="job in filteredJobs | orderBy: query.order" ng-class="{'disabled' : !job.enabled}" class="{{job.lastStatus}}">
                <!-- <td md-cell><a ng-href="/job/{{job._id}}">{{job._id}}</a></td> -->
                <td md-cell>
                    <md-tooltip>
                        <span ng-show="{{job.description}}">{{job.description}}<br /></span>
                        <b>Container:</b> {{job.imageUri}}<br />
                        <b>Path:</b> {{job.path}}<br />
                        <b>JobId:</b> {{job._id}}
                    </md-tooltip>
                    <a ng-href="/job/{{job._id}}">{{job.name}}</a>
                </td>
                <td md-cell>{{job.schedule}}</td>
                <td md-cell>{{job.nodeSelector}}</td>
                <td md-cell>{{job.lastRanAt | date : 'M/d/yy h:mm a'}}</td>
                <td md-cell>{{job.lastStatus}}</td>
                <td md-cell>
                    <md-button aria-label="Delete Job" class="md-fab md-mini" ng-click="deleteJob(job._id,job.name,$event)"><md-icon md-svg-src="/public/assets/svg/ic_delete_24px.svg"></md-icon></md-button>
                    <md-button aria-label="Edit Job" class="md-fab md-mini" ng-click="editJob(job._id)"><md-icon md-svg-src="/public/assets/svg/ic_settings_24px.svg"></md-icon></md-button>
                    <md-button aria-label="Run Job" class="md-fab md-mini" ng-click="runJob(job._id)" ng-disabled="job.mutex && job.lastStatus === 'busy'"><md-icon md-svg-src="/public/assets/svg/ic_play_arrow_24px.svg"></md-icon></md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>